/* Estilos gerais */
/* Página de entrada */
html, body {
  height: 100%;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: darkgray;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  font-size: 18px;
}

#password-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: gray;
    color: #fff;
}

#password-input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#password {
    font-size: 24px;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    border: none;
    border-radius: 5px;
}

#keypad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.key, #clear, #enter {
    font-size: 24px;
    padding: 20px;
    border: none;
    border-radius: 5px;
    background: #fff;
    color: gray;
    cursor: pointer;
    transition: background 0.3s;
}

.key:hover, #clear:hover, #enter:hover {
    background: lightgray;
}

* {
  box-sizing: border-box;
	word-break: break-word;
	line-height: 1.5rem;
	padding: 0;
    margin: 0;
}

.boddy {
    background: radial-gradient(circle, rgba(232,232,232,1) 0%, rgba(172,255,63,1) 37%, rgba(199,255,102,1) 48%, rgba(255,102,193,1) 65%, rgba(254,170,255,1) 80%, rgba(150,138,255,1) 94%);
	display: flex !important;
	justify-content: center;
	align-content: center;
    position: relative;
    top: 0;
    bottom: 0;
    width: 100%;
    min-height: 100%;
}

:root {
	--c-green: #7fff00;
	--c-pink: #ff1493;
	--c-purple: #8a2be2;
	--c-lilac: #968AFF;
	--c-white: #E8E8E8;
	--c-greenish: #C7FF66;
	--c-green-neon: #ACFF3F;
	--c-pinkish: #FF66C1;
	--c-light-pink: #FEAAFF;
}


section {
	font-family: 'Michroma';
	display: flex;
	flex-direction: column;
	max-width: 600px;
	font-weight: 900;
	gap: 20px;
    font-size: 18px;
}

.dashboard, .tabcontent {
	width: 100%;
	height: fit-content;
	background-color: var(--c-white);
	border: 2px solid black;
    
}

.dashboard {
    margin-top: 20px;
}

.window-bar, .item-bar {
	background-color: var(--c-lilac);
	border: 2px solid black;
	margin: 4px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	font-size: 14px;
	height: 35px;
	padding: 2px 4px;
}

.window-bar button, .item-bar span {
	text-align: center;
	width: 30px;
	height: 25px;
	background-color: var(--c-light-pink);
	border: 2px solid black;
	cursor: pointer;
}

.profile {
	margin: 8px;
}

.title {
	color: var(--c-pinkish);
	text-shadow: -4px 2px 4px rgba(0, 0, 0, 0.82);
	font-family: 'Orbitron';
	line-height: 3rem;
	font-weight: 900;
	font-size: 40px;
    text-align: center;
}

.tabs {
    display: block;
		margin: 8px;
}

.tabs > * {
   padding: 1rem;
}

.tab {
		font-family: 'Michroma';
    display: inline-block;
	  width: 100%;
    background: var(--c-light-pink);
    padding: 10px 15px;
	  font-size: 15px;
    cursor: pointer;
	 	margin-bottom: 5px;
}

.tabs button.active {
  background-color: var(--c-pinkish);
}

.tabcontent {
  display: none;
	font-weight: 400;
}

.inside {
	margin: 10px;
}

@media (max-width: 500px) {
	.window-bar, .item-bar {
		height: 50px;
	}
}

@media (min-width: 768px) {
    .tabs {
        display: grid;
        grid-template-columns: 1fr 1fr;
				gap: 5px;
    }
		
		.tab {
				margin-bottom: 0;
		}
}